h1 {
  text-align: center;
  color: turquoise;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
}

h3 {
  color: turquoise;
  font-family: 'Lora', serif;, sans-serif;
}

#image-container {
  display: flex;
  justify-content: space-around;
}

#image-container img {
  height: 350px;
  width: 30%;
  border-style: ridge;
  border-color: turquoise;
  border-width: 3px;
  border-radius: 10px;


}

body {
  background-color: #CC5500;
}

section {
  display: flex;
  justify-content: space-between;
}
section p {
border:1px solid blue;
background: #eeffff;
padding: 10px;
width: calc(30% - 20px);

}

@media (max-width=750px) {
  section {
    flex-direction: column;
  }

  section p {
    width: 100%;
  }
}

/*#image-container {
  width: 500px;
  height: 500px
}*/
