h1 {
  text-align: center;
  color: green;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
}

h3 {
  color: red;
  font-family: 'Lora', serif;, sans-serif;
}

#image-container {
  display: flex;
  justify-content: space-around;
}

#image-container img {
  height: 250px;
}
