h1 {
  text-align: center;
  color: teal;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
}

h3 {
  color: teal;
  font-family: 'Lora', serif;, sans-serif;
}

#image-container {
  display: flex;
  justify-content: space-around;
}

#image-container img {
  height: 350px;
  width: 30%;
  border-style: ridge;
  border-color: turquoise;
  border-width: 3px;
  border-radius: 10px;


}

#resetButton {
  visibility: hidden;
  border: black;
  background-color: turquoise;
  color: black;
  display: flex;
  width: 100px;
  height: 50px;
  margin: 0 auto;
  /*padding: 32px;*/
  /*margin:0
  text-align: center;
  text-decoration: none;
  display: inline-block;*/
  font-size: 16px;
}

#progressBar {
  width: 500px;

}

body {
  background-color: beige;
}

section {
  display: flex;
  justify-content: space-between;
}
section p {
border:1px solid darkmagenta;
border-style: groove;
background: beige;
padding: 10px;
width: calc(30% - 20px);
color: teal;
font-size: 20px;

}

/*@media (max-width=750px) {
  section {
    flex-direction: column;
  }*/

  section p {
    width: 100%;
    font-family: 'Lora'
    color: teal;
  }
}

/*.resetButton {
  border: black;
  color: turquoise;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}*/

/*#image-container {
  width: 500px;
  height: 500px
}*/
